{% extends 'base.html.twig' %}

{% block title %}Foo List{% endblock %}

{% block pageheader %}
    <h1>Foo List</h1>
    <p class="count">
        Displaying {{ foos|length }} foos of {{ foos.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('foo_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {% endif %}

            <a href="{{ path('foo_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
        {% for foo in foos %}
            <tr>

                <td>
                    <a href="{{ path('foo_show', { 'id': foo.id }) }}">
                        {{ foo.id }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(foos) }}
    </div>

{% endblock %}
